<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.dream.pojo.SysUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="PHONE_NO" property="phoneNo" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="WHEN_CREATED" property="whenCreated" jdbcType="DATE" />
    <result column="WHEN_MODIFIDE" property="whenModifide" jdbcType="DATE" />
    <result column="WHO_CREATED" property="whoCreated" jdbcType="VARCHAR" />
    <result column="WHO_MODIFIDE" property="whoModifide" jdbcType="VARCHAR" />
    <result column="DELETED" property="deleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USERNAME, PASSWORD, CHINESE_NAME, EMAIL, PHONE_NO, ADDRESS, WHEN_CREATED, WHEN_MODIFIDE, 
    WHO_CREATED, WHO_MODIFIDE, DELETED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dream.pojo.SysUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_USER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dream.pojo.SysUserExample" >
    delete from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dream.pojo.SysUser" >
    insert into SYS_USER (ID, USERNAME, PASSWORD, 
      CHINESE_NAME, EMAIL, PHONE_NO, 
      ADDRESS, WHEN_CREATED, WHEN_MODIFIDE, 
      WHO_CREATED, WHO_MODIFIDE, DELETED
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{chineseName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{whenCreated,jdbcType=DATE}, #{whenModifide,jdbcType=DATE}, 
      #{whoCreated,jdbcType=VARCHAR}, #{whoModifide,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dream.pojo.SysUser" >
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="phoneNo != null" >
        PHONE_NO,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="whenCreated != null" >
        WHEN_CREATED,
      </if>
      <if test="whenModifide != null" >
        WHEN_MODIFIDE,
      </if>
      <if test="whoCreated != null" >
        WHO_CREATED,
      </if>
      <if test="whoModifide != null" >
        WHO_MODIFIDE,
      </if>
      <if test="deleted != null" >
        DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="whenCreated != null" >
        #{whenCreated,jdbcType=DATE},
      </if>
      <if test="whenModifide != null" >
        #{whenModifide,jdbcType=DATE},
      </if>
      <if test="whoCreated != null" >
        #{whoCreated,jdbcType=VARCHAR},
      </if>
      <if test="whoModifide != null" >
        #{whoModifide,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dream.pojo.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.chineseName != null" >
        CHINESE_NAME = #{record.chineseName,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNo != null" >
        PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.whenCreated != null" >
        WHEN_CREATED = #{record.whenCreated,jdbcType=DATE},
      </if>
      <if test="record.whenModifide != null" >
        WHEN_MODIFIDE = #{record.whenModifide,jdbcType=DATE},
      </if>
      <if test="record.whoCreated != null" >
        WHO_CREATED = #{record.whoCreated,jdbcType=VARCHAR},
      </if>
      <if test="record.whoModifide != null" >
        WHO_MODIFIDE = #{record.whoModifide,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null" >
        DELETED = #{record.deleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER
    set ID = #{record.id,jdbcType=INTEGER},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      CHINESE_NAME = #{record.chineseName,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      WHEN_CREATED = #{record.whenCreated,jdbcType=DATE},
      WHEN_MODIFIDE = #{record.whenModifide,jdbcType=DATE},
      WHO_CREATED = #{record.whoCreated,jdbcType=VARCHAR},
      WHO_MODIFIDE = #{record.whoModifide,jdbcType=VARCHAR},
      DELETED = #{record.deleted,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dream.pojo.SysUser" >
    update SYS_USER
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="whenCreated != null" >
        WHEN_CREATED = #{whenCreated,jdbcType=DATE},
      </if>
      <if test="whenModifide != null" >
        WHEN_MODIFIDE = #{whenModifide,jdbcType=DATE},
      </if>
      <if test="whoCreated != null" >
        WHO_CREATED = #{whoCreated,jdbcType=VARCHAR},
      </if>
      <if test="whoModifide != null" >
        WHO_MODIFIDE = #{whoModifide,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        DELETED = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dream.pojo.SysUser" >
    update SYS_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      WHEN_CREATED = #{whenCreated,jdbcType=DATE},
      WHEN_MODIFIDE = #{whenModifide,jdbcType=DATE},
      WHO_CREATED = #{whoCreated,jdbcType=VARCHAR},
      WHO_MODIFIDE = #{whoModifide,jdbcType=VARCHAR},
      DELETED = #{deleted,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>